/* 
   neonInvaders
   
   By Fer Ysunza, 01/02/24. 
*/

:root {
    --background-color: #121212; /* Dark background */
    --player-color: #00ffff; /* Neon cyan */
    --enemy-color: #ff00ff; /* Neon pink */
    --bullet-color: #fffc00; /* Bright yellow */
}

body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    font-family: 'Press Start 2P', cursive; /* Retro font */
}

canvas {
    background: var(--background-color);
    box-shadow: 0 0 15px var(--player-color); /* Neon glow effect */
}
